div style="margin-left:16px;margin-top:16px"
    h1.header Lägg till träningar

    h3.header Lägg till ny (kolla först så att en sådan inte redan existerar)

    form action="" method="post"
        