- unless session[:user_id]
    .container1
        .healthy_picture
        .wall_off_text
            h2.welcome.header Välkommen till Healthy!
            p.black87 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .links
            a.green_link1 href="/login" Logga in
            p.eller eller
            a.green_link2 href="/register" registrera dig
- else
    .parallax-container
        .parallax
            img src="/img/dumbbells-2465478_640 (1).jpg"

    .cards.mt_16px
        
        .card.card-2.mb_16px
            - day = Time.now.strftime('%A').downcase
            a href="/schedule##{day}"
                h1.header Ditt schema! 🏋
                .card_content
                    .row
                        p Ta en titt på vad du har för träningar att göra! Lägg gärna till flera själv! Klicka på mig för att ta dig dit!
                    i.material-icons.big-icon date_range
            
            .custom_box#schedule_box.pl_16px.pt_16px
                h2.header Dagens aktiviteter
        
                - day = (Schedule.day_in_integer() - 1)
                - @schedule.each_with_index do |x, i|

                    - if i == day
                        - if x == []
                            h4.header Du har ingenting att göra idag, samla på dig lite energi! 😌

                        - else
                            -x.each do |z|
                                - if z.done == "true"
                                    .row
                                        p
                                            - if z.done == "true"
                                                i.material-icons check_box
                                            - else
                                                i.material-icons check_box_outline_blank
                                        p
                                            = z.name
                                - else
                                    .row onclick="show(#{z.id})"
                                        p
                                            - if z.done == "true"
                                                i.material-icons check_box
                                            - else
                                                i.material-icons check_box_outline_blank
                                        p
                                            = z.name
                        

        
        .card.card-2.mb_16px#quote
            a href="/#"
                h1.header
        
            .custom_box#quote_box
                h3.header
                    = @quote
                
        
        .card.card-2.mb_16px
            a href="/weight"
                h1.header Din vikthistorik!
                .card_content
                    .row
                        p Logga din vikt, se din framgång! Här kan du kolla hur långt du har kommit på ditt mål, samt ändra den om du så skulle vela! Klicka på mig!
                    i.material-icons.big-icon trending_down
            
            .custom_box.pt_16px.pl_16px.pb_16px
                h2.header Dina framsteg

                - if @percentage_reached
                    - if @percentage_reached < 5
                        h4.header Kämpa på! 😸
                    - elsif @percentage_reached > 5 && @percentage_reached < 100
                        h4.header
                            | Du har nått
                            |  
                            = @percentage_reached.to_i
                            | % av ditt mål! Herregud vad bra! 😍😱
                    - elsif @percentage_reached > 100
                        h4.header Du har klarat ditt mål! Tjoohoo vad bra du är!! 🙌😱
                    - else
                        h4.header Du har inte valt något mål, det kan du göra här om du känner dig redo för det! 😉
                - else
                    a href="/weight"
                        h4.header
                            | Det verkar som att du inte har valt något mål ännu, det är lungt, vi fixar det om du vill. Annars kan du bara låta det vara som det är. Tryck på mig för att ta ändra din vikt mål!


        .card.card-2.mb_16px
            a href="/learn"
                h1.header Lär dig om träning!
                .card_content
                    .row
                        p Så mycket skoj att lära sig! Är det något du undrar? Ta en titt om vi har svaret!
                    i.material-icons.big-icon book
            
            .custom_box

        .card.card-2.mb_16px
            a href="/my-profile"
                h1.header Min Profil
                .card_content
                    .row
                        p Fränt! Du har din egna profil! Det skulle man inte kunna tro! Du kan även lägga till vänner och kolla vad dem har klarat för mål. Klicka på mig för att ta dig dit 🙋
                    i.material-icons.big-icon person

            .custom_box.pt_16px.pl_16px.pb_16px
                h2.header 
                    | Dina poäng:
                    |  
                    = @user.points
                - if @user.points == 0
                    h4.header Du har inga poäng just nu, men jag är helt säker på att du kommer att få en massa snart 😌. Du får poäng genom att klara av dina träningar. 
                - elsif @user.points > 0 && @user.points < 10
                    h4.header Nu börjar poängen rulla in 🤑
                - elsif @user.points > 10 && @user.points < 50
                    h4.header Du börjar fatta det här nu ju!
                - elsif @user.points > 50 && @user.points < 100
                    h4.header Du badar i poäng! 😲
                - elsif @user.points > 50 && @user.points < 100
                    h4.header Nu snackar vi poäng! 🎉
                - else
                    h4.header ... 😱

        - if session[:admin]
            .card.card-2.mb_16px
                a href="/admin"
                    h1.header Admin verktyg
                    .card_content
                        .row
                            p Om du ser detta är du en administratör. Du har vissa speciella verktyg, så som att lägga till träningar.
                        i.material-icons.big-icon settings_applications

                .custom_box
                    a.dark_blue href="/" Verktyg länk 1

    - if session[:check_error]
        .confirm_excercice_container#check_error
                .confirm_excercice.card-4
                    i.material-icons.black87 onclick="hide('check_error')" close

                    h3.header
                        = session[:check_error]
                        - session[:check_error] = false

    - day = (Schedule.day_in_integer() - 1)
    - @schedule.each_with_index do |x, i|
        - if i == day
            - x.each do |z|
                .confirm_excercice_container id="#{z.id}"
                    .confirm_excercice.card-4
                        i.material-icons.black87 onclick="show(#{z.id})" close
                        h2.header Härligt!
                        h3.header Hur kändes det?
                        form action="/schedule/done" method="post"
                            input type="hidden" value="#{z.id}" name="id"

                            .column.mt_16px
                                .row
                                    input type="radio" name="feedback" value="1" För enkelt
                                .row
                                    input type="radio" name="feedback" value="2" Lagom utmanande
                                .row
                                    input type="radio" name="feedback" value="3" För svårt

                            button.mt_16px type="submit" Done