h1.header.margin_bottom_16px Min Profil

h2.header Användarnamn:
h2.header.margin_bottom_16px = @user.username

h2.header Förnamn:
h2.header.margin_bottom_16px = @user.first_name

h2.header Efternamn:
h2.header.margin_bottom_16px = @user.last_name

h2.header Poäng:
h2.header.margin_bottom_16px = @user.points