.profile_icon_container.mt_16px
    i.material-icons.big-icon account_circle
    h1.header.margin_bottom_16px.mt_16px Min Profil

h2.ml_16px Användarnamn:
h2.header.margin_bottom_16px.ml_16px = @user.username

h2.ml_16px Förnamn:
h2.header.margin_bottom_16px.ml_16px = @user.first_name

h2.ml_16px Efternamn:
h2.header.margin_bottom_16px.ml_16px = @user.last_name

h2.ml_16px Poäng:
h2.header.margin_bottom_16px.ml_16px = @user.points