<form>
    <label for="username">Användarnamn: </label>
    <input type="text" name="username"></input>

    <label for='goals'>Vad har du för mål med din träning?: </label>

    <select name="goals">
        <option value="1">Bygga synliga muskler</option>
        <option value="2">Förbättra min hälsa</option>
        <option value="3">Gå ner i vikt</option>
        <option value="4">Gå upp i vikt</option>
        <option value="5">Förbättra min kondition</option>
        <option value="6"></option>
        <option value="7"></option>
    </select>
    
    <button type='submit'>Ok</button>
</form>