h1.header Vikthistorik

- if @kg_arr.first
    h3.header Din historik
- else
    h3.header Du har inte loggat någon vikt, gör det nu!

canvas#lineChart height="300" width="400"

- if session[:local]
    h3.header Måste vara mer än 0

.hello onClick="drawGraph(#{@date_arr}, #{@kg_arr}, #{@color})"
/ .divvv onload="drawGraph()"

form action="/weight" method="post"
    label for="new_weight"
    input type="text" name="new_weight"

    button type="submit" Lägg till


/ script
/     | function drawGraph() {
/     | const CHART = document.getElementById('lineChart');
/     | let lineChart = new Chart(CHART, {
/     | type: 'line',
/     | data: {
/     | labels: | [1,2,3,4,5],
/     | datasets: [{
/     | label: "Kilogram",
/     | borderColor: "#D7ECFD",
/     | backgroundColor: "#008080",
/     | data: | [1,2,3,4,5],
/     | }],
/     | }
/     | });
/     | }