/* https://material.io/color/#!/?view.left=0&view.right=0&secondary.color=64FFDA&primary.color=37474F */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button,
submit {
    border: none;
    border-radius: 6px;
}

button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 150px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.hello {
    height: 50px;
    width: 50px;
    background-color: orange;
}

main {
    /* padding: 8px; */
    padding-top: 56px;
}

.schedule {}


/* Button */

button {
    /* padding: 8px;
    width: 80px; */
}

.margin_bottom_16px {
    margin-bottom: 16px;
}

.margin_left_16px {
    margin-left: 16px;
}


/* TEXT */


/* 
a {
    color: black;
} */

.header {
    font-weight: 300;
    /* margin-left: 16px; */
}

.header_title {
    margin-left: 20px;
    font-size: 20px;
}

.header {
    font-weight: 300;
}

.mt_16px {
    margin-top: 16px;
}

.mt_32px {
    margin-top: 32px;
}

.mb_8px {
    margin-bottom: 8px;
}

.mb_16px {
    margin-bottom: 16px;
}

.mb_32px {
    margin-bottom: 32px;
}


/* p {
    font-size: 14px;
} */

a {
    color: inherit;
}


/* COLORS */

.white {
    color: white;
}

.white87 {
    color: rgba(255, 255, 255, 0.87)
}

.black {
    color: black;
}

.black87 {
    color: rgba(0, 0, 0, 0.87);
}

.gray {
    color: #37474f;
}

.gray_background {
    background-color: #37474f;
}

.light_gray {
    color: #62727b;
}

.light_gray_background {
    background-color: #62727b;
}

.dark_gray {
    color: #102027;
}

.dark_gray_background {
    background-color: #102027;
}

.blue {
    color: #14cba8;
}

.blue_background {
    background-color: #14cba8;
}

.light_blue {
    color: #9effff;
}

.light_blue_background {
    background-color: #9effff;
}

.dark_blue {
    color: #14cba8;
}

.dark_blue_background {
    background-color: #14cba8;
}


/* GRAPHS */

#lineChart {
    width: calc(100vw - 64);
    max-width: 800px;
}


/* HEADER */

header a {
    color: white;
}


/* REGISTER */

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.removeBorder {
    border: 0px;
}

.question {
    margin: 16px;
    display: flex;
    flex-direction: column;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

header {
    /* background-color: #2196f3; */
    width: 100%;
    height: 56px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 19px;
    top: 0;
    left: 0;
    position: fixed;
}

.more_vert {
    padding-right: 16px;
}

.login_box {
    height: 32px;
    background-color: #37474f;
    color: white;
    font-size: 1.2em;
}

::-webkit-input-placeholder {
    color: white;
}

.login_button {
    font-size: 1.1em;
    position: absolute;
    right: 0;
    margin: 16px;
    /* padding: 3px; */
    background-color: #40ff80;
}

.login_container {
    margin-top: 32px;
    margin-bottom: 92px;
}


/* ICONS */

.icon,
#icon {
    width: 24px;
    font-size: 24px;
    color: white;
}

.icon_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
}


/* Login Screen */

.login_text {
    margin-bottom: 16px;
}


/* Home */

.container1 {
    display: flex;
    flex-direction: column;
}

.healthy_picture {
    height: 150px;
    width: 100%;
    background-image: url(../img/healthy.jpg);
    background-size: cover;
}

.wall_off_text {
    margin: 16px;
}

.welcome {
    margin-bottom: 16px;
}

.links {
    display: flex;
    flex-direction: row;
    margin: 16px;
}

.green_link1 {
    color: #40ff80;
    font-size: 1.2em;
    margin-right: 8px;
}

.green_link2 {
    color: #40ff80;
    font-size: 1.2em;
    margin-left: 8px;
    margin-right: 8px;
}

.eller {
    font-size: 1.2em;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.confirm_excercice_container {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 150;
}

.confirm_excercice {
    background-color: white;
    height: 200px;
    width: 200px;
    z-index: 200;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
}

.display_confirmation {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

#check_error {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: calc(100vw - 32px);
    min-height: 120px;
    border-radius: 2px;
}

.card_content {
    display: flex;
    flex-direction: row;
}

.big-icon {
    font-size: 96px !important;
    color: #40ff80 !important;
}

.custom_box {
    width: 100%;
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.16);
}


/* Boxes */

#quote_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#quote_box h1 {
    font-family: 'Leckerli One', cursive;
}

@media (min-width: 900px) {
    main {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    /* .cards {
        display: flex;
        flex-direction: row;
        width: 900px;
        height: 5000px;
    } */
    .card {
        width: 500px;
        height: 300px;
    }
}